// SCREEN SIZE
$medium-screen-min: "only screen and (min-width: 769px)";
$max-width: 1380px;

// COLOR
$black: #000000;
$blue:  #0095c8;
$grey:  #F9F9F9;
$grey2: #FAFAFA;
$grey3: #EDEDED;
$grey4: #666666;
$grey5: #CCCCCC;
$grey6: #454545;
$white: #FFFFFF;